POSTGRES_DB=ford_challenge
POSTGRES_USER=ford
POSTGRES_PASSWORD=ford123
POSTGRES_PORT=5432

APP_DB_URL=jdbc:postgresql://localhost:5432/ford_challenge
APP_DB_USERNAME=ford
APP_DB_PASSWORD=ford123

FIPE_BASE_URL=https://fipe.parallelum.com.br/api/v2
FIPE_TOKEN=

CAR_API_BASE_URL=https://carapi.app/api
CAR_API_BEARER_TOKEN=
